@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
body {
  width: 1440px;
  height: 1024px;
  background-color: #176B87;
  overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */
}

/* Estilos para la navegación */
.nav {
  background-color: #001C30;
  box-shadow:  4px 4px 6px rgb(29, 29, 29);
  margin-top: 0px;
  width: 1400px;
  height: 134px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-style: inset;
}

.nav h1 {
  font-family: 'Russo One', sans-serif;
  font-size: 44px;
  color: #A1432E;
}

.nav section {
  display: flex;
  align-items: center;
}

.nav h2 {
  font-family: 'Russo One', sans-serif;
  font-style: italic;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.25);
  margin-left: 40px;
  margin-right: 20px;
  font-size: 18px;

}

.nav h4 {
  font-family: 'Russo One', sans-serif;
  margin-right: -150px;
  color: #A1432E;
  margin-top: -32px;
}

.nav button {
  font-family: 'Russo One', sans-serif;
  margin-right: 5px;
  padding: 5px 10px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  border: none;
  border-radius: 3px;
  color: #333333;
  font-size: 14px;
  cursor: pointer;
}

/* Estilos para las secciones */
section {
  margin-top: 20px;
}

section h2 {
  font-family: 'Russo One', sans-serif;
  color: #64CCC5;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.linea {
  width: 97%;
  height: 10px;
  background-color: #001C30;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  margin-left: 10px;
  border-width: 1px;
  border-style: inset;
}

.contComp {
  background-color: #ffffff;
  width: 92%;
  height: auto;
  margin-left: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  border-color: #D9D9D9;
  border-style: inset;

}

/* Columnas  */

.list-group{
  display: grid;
  grid-template-rows: 300px 200px 100px 100px;
  grid-template-columns: 250px 250px 250px 200px;
  grid-gap:100px;
  
  
}


.list-group-items{
  grid-column-start: 1; 
  grid-column-end: 5; 
  grid-row-start: 1; 
  grid-row-end: 3;
  
 
}
.list-group p{
  font-family: 'Russo One', sans-serif;
  font-size: 18px;

  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  align-items: center;
}



.list-group-image{
  border-style: inset;
  width:200px;
  height:200px;
  transition: transform 0.3s; /* Agregar una transición suave de 0.3 segundos a la propiedad transform */
}

h4 {
  position: absolute;
  top: 95px;
  left: 67%;
}

.btn-admin{
  position: absolute;
  top: 20.5%;
  left: 12%;
}

/* Aplicar la animación cuando el mouse está sobre el div */
.list-group-image:hover {
  transform: scale(1.2); /* Escala el div al 120% cuando el mouse está sobre él */
}

/* Definición de la animación */
@keyframes ejemploAnimacion {
  0% { transform: scale(1); } /* Estado inicial (escala 1) */
  50% { transform: scale(1.2); } /* Escala al 120% a la mitad de la animación */
  100% { transform: scale(1); } /* Regresar a la escala 1 al final de la animación */
}

/* Estilo para la imagen */
.list-group-image img {
  transition: opacity 0.9s; /* Agregar una transición suave de 0.3 segundos a la propiedad de opacidad */
}

/* Aplicar la animación cuando el mouse está sobre la imagen */
.list-group-image:hover img {
  opacity: 1.7; /* Reducir la opacidad al 70% cuando el mouse está sobre la imagen */
}

.contCompDet{
  background-color: #ffffff;
  width: 92%;
  height: 70%;
  margin-left: 20px;
  padding: 20px;
  border-radius: 5px;
  border-color: #D9D9D9;
  border-style: inset;
  display: flex;
  flex-direction:row-reverse;
}
.contAdmin{
  background-color: #001C30;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  width: 92%;
  height: auto;
  margin-left: 20px;
  padding: 20px;
  border-radius: 5px;
  border-color: #D9D9D9;
  border-style: inset;
  display: flex;
  flex-direction:column;
  align-items: center;
}
.containerForm{
  width: 70%;
  height: auto;
  padding: 20px;
  background-color: #D9D9D9;
  box-shadow:  4px 4px 6px rgb(29, 29, 29);
  border-radius: 5px;
  border-style: inset;

}
.containerForm h3{
  color:#A1432E;
  margin-bottom: 10px;
  font-family: 'Russo One', sans-serif;
  font-size: 24px;
  text-align: center;
}

form{
  width: 100%;
  height: 100%;
  display: flex;
    flex-direction: column;
    align-items: center;

}

form input {
  font-family: 'Russo One', sans-serif;
  width: 400px;
  height: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  border-color: #DAFFFB;
  padding: 5px;
}

form input:focus {
  outline: none;
}

form button{
  font-family: 'Russo One', sans-serif;
  width: 200px;
  height: 30px;
  background-color: #A1432E;
  box-shadow:  4px 4px 6px rgb(29, 29, 29);
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

form textarea{
  font-family: 'Russo One', sans-serif;
  width: 200px;
  height: 100px;
  margin-bottom: 15px;
  border-radius: 5px;
  border-color: #DAFFFB;
  padding: 5px;
}
form label{
  color: #001C30;
  font-family: 'Russo One', sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}
form select{
  font-family: 'Russo One', sans-serif;
  width: 400px;
  height: 30px;
  margin-bottom: 15px;
  border-radius: 5px;
  border-color: #DAFFFB;
  padding: 5px;
}
.detalle-img{
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.custom-paragraph {
  font-size: 24px; /* Tamaño de fuente más grande, puedes ajustar el valor según tus preferencias */
  color: #A1432E; /* Color rojo, puedes cambiar el código de color según tus preferencias */
  font-weight: bold;
}

.custom-paragraph-p {
  font-size: 20px; /* Tamaño de fuente más grande, puedes ajustar el valor según tus preferencias */
  color: #A1432E; /* Color rojo, puedes cambiar el código de color según tus preferencias */
  font-weight: bold;
}

.btn-admin{
  margin-left: 100px;
  margin-top: 25px;
  font-family: 'Russo One', sans-serif;
  width: 100px;
  height: 30px;
  background-color: #A1432E;
  box-shadow:  4px 4px 6px rgb(29, 29, 29);
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.btn-admin:hover{
  background-color: #64CCC5;
  color: #001C30;
}